.header {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.menu-button {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
}

.nav-links a:hover {
    text-decoration: underline;
}

.header-right {
    display: flex;
    align-items: center;
}

.notifications {
    position: relative;
    margin-right: 15px;
}

.notifications-btn {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.notifications-count {
    position: absolute;
    top: 0;
    right: -5px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

.user-btn {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.header-actions {
    display: flex;
    align-items: center;
}

.custom-button {
    background-color: #6c757d;
    color: white;
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #5a6268;
}

.search-bar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
}

.pagination {
    display: flex;
    align-items: center;
}

.pagination span {
    margin-right: 10px;
}

.pagination button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #e0e0e0;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .nav-links.open {
        display: flex;
    }
    
    .nav-links a {
        margin: 10px 0;
        padding: 10px;
        width: 100%;
        text-align: center;
    }
}
